@import url("https://fonts.googleapis.com/css2?family=Avenir&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar-container {
  width: 100%;
  position: fixed;
  z-index: 110;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}

.navbar-container.text-white a {
  color: white;
}

.navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 45px;
  width: 100%;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.center-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.btn i {
  margin-right: 5px;
}

.btn-linkedin {
  color: #0077b5;
}

.btn-github {
  color: #333;
}

.btn-resume {
  color: #dc3545;
}

.btn:hover {
  background-color: #0072c6;
  border-radius: 4px;
  color: #ffffff;
  padding: 4px 8px;
}

.navbar-main-menu {
  display: flex;
  align-items: center;
}

.navbar-main-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-main-menu li {
  margin-left: 30px;
}

.navbar-main-menu a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  padding: 4px 8px;
}

.navbar-main-menu a:hover {
  background-color: #0072c6;
  border-radius: 4px;
  color: #ffffff;
  padding: 4px 8px;
}

.navbar-mobile-menu {
  display: none;
  font-size: 24px;
}

@media (max-width: 768px) {
  .navbar-main-menu {
    display: none;
  }

  .navbar-mobile-menu {
    display: block;
    cursor: pointer;
  }
}

#About.container.py-5 {
  padding-top: 178px !important;
}

.education-container {
  padding-bottom: 78px !important;
}

.about-image {
  object-fit: cover;
  height: 100%;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-content p {
  margin-bottom: 0 !important;
}

/* Skills section */
#Skills h2 {
  text-align: center;
  padding-bottom: 15px;
}

.skills-container {
  padding: 2rem 0;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: stretch;
}

.skills-category {
  background-color: #e9ecef;
  border-radius: 4px;
  padding: 1rem;
  box-sizing: border-box;
  aspect-ratio: 1 / 0.75;
}

.skills-category:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

.skills-category-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.skills-list {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0;
  padding-top: 15px;
  padding-left: 15px;
  line-height: 1.5;
}

.skills-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* Experience section */
#Experience h2 {
  text-align: center;
  padding-bottom: 30px;
}

#Experience h3 {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

#Experience h4 {
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: #777;
}

#Experience p {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#Experience ul {
  margin-bottom: 1.5rem;
  padding-left: 15px;
}

#Experience li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

#Experience div {
  padding: 1.5rem;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s;
  border-radius: 4px;
  margin-bottom: 15px;
}

#Experience div:last-child {
  margin-bottom: 0;
}

#Experience div:hover {
  background-color: #e9ecef;
}

@media (max-width: 768px) {
  #Experience div {
    padding: 1rem;
  }
}

/* Education section */
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.education-item {
  padding: 1.5rem;
  background-color: #e9ecef;
  border-radius: 4px;
  margin-bottom: 15px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.education-item:last-child {
  margin-bottom: 0;
}

.education-item:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

#Education h3 {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

#Education h4 {
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: #777;
}

#Education p {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
